.analysis-values {
  list-style-type: none;
  padding: 0;
}

.analysis-score {
  .CircularProgressbar-path {
    stroke: red;
  }
}

.feature-map {
  width: 100%;
  height: 700px;
}

.feature-map .loading {
  position: relative;
  top: 20%;
  left: 45%;
  z-index: 1000000;
}

.feature-map__score-legend {
  line-height: 22px;
  color: #555;
  font-weight: bold;
  span, i {
    float: left;
    margin: 0 0.2em;
  }
  i {
    height: 18px;
    opacity: 0.7;
  }
}

.feature-map__info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.value__relative--increase,
.value__relative--decrease.value--lower-is-better {
  color: rgb(60, 118, 61);
}

.value__relative--constant {
  color: rgb(138, 109, 59);
}

.value__relative--decrease,
.value__relative--increase.value--lower-is-better {
  color: rgb(169, 68, 66);
}
