@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.index-table {
  overflow-x: auto;
  th:not(:first-child) {
    i {
      font-size: 2rem;
    }
  }
  td[role="cell"] {
    vertical-align: middle;
  }
  :global(.analysis-score) {
    width: 2.5em;
  }
}

.index-table-pagination {
  display: flex;
  flex-wrap: wrap;
}

.index-table-filters {
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-wrap: wrap;
  }
}

.index-table-filters__population {
  flex-grow: 1;
  display: flex;
  padding-right: 2rem;
  margin-top: 1rem;
  & > *:first-child {
    font-size: 1.3rem;
    padding: 0 1.5rem 0 0;
  }
  :global(.rs-slider) {
    flex-grow: 1;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 0;
    :global(.icon) {
      padding-left: 2rem;
    }
  }
}
