.index-table {
  th {
    i {
      font-size: 2rem;
      &.fa-hashtag {
        font-size: 1rem;
      }
    }
  }
  td[role="cell"] {
    vertical-align: middle;
  }
  .analysis-score {
    width: 2.5em;
  }
}
