.index-table {
  th {
    i {
      font-size: 2rem;
      color: #6c6753;
      &.fa-hashtag {
        font-size: 1rem;
      }
      &.fa-trophy {
        color: #d4aa00;
      }
      &.fa-bus {
        color: #2C89A0;
      }
      &.fa-car {
        color: #ff8080;
      }
      &.fa-bicycle {
        color: #89a02c;
      }
    }
  }
  td[role="cell"] {
    vertical-align: middle;
  }
  .analysis-score {
    width: 2.5em;
  }
}
