.icon {
  display: inline-block;
}

.icon--ban-car {
  position: relative;
  i {
    position: absolute;
    left: 0;
    padding-left: 0.1em;
    opacity: 0.6;
  }
}

.fa {
  color: #6c6753;
}
.fa-trophy {
  color: #d4aa00;
}
.fa-bus {
  color: #2c89a0;
}
.fa-car {
  color: #ff8080;
}
.fa-bicycle {
  color: #89a02c;
}
